## Traitement Data Africa.
>**Motivation:** Ce travail se repose sur une étude statistique du continent Africain. la tache principale est de récupérer les données sur Wikipédia pour chaque région d’Afrique notamment l’Afrique de l’Est, de l’Ouest, du Nord, Centrale et Australe. Traiter et nettoyer chaque ficher et finalement fusionner toutes les Région. Enfin calculer la densité par région, l’Écart Type, la moyenne, et le coefficient de variation.

>**Intérêt :** Maîtrise Packages, Pandas et Numpy pour la manipulation des DataFrames Pandas pour les traitement de la data. Être capable de manipuler la data du nettoyage à l’analyse.
>**Pratique à la Data Science par :** Cyrille KESIKU (Key)
>**Adresses:** 
- Principal Email : cyrillekesiku@gmail.com | cyrille.kesiku@aims-senegal.org
- Secondaires Email: cyrille.kesiku@unikin.ac.cd
- github profil    : cyrille-key

>**Note :** Ce travail est un Exercice En classe Aims-senegal, initier par Souleymane Ndoye(Institute of Applied Statistics and Data Science, France) 

------------------------------------------------------------------------------------------------------------------------

#### Import des modules de python:

In [191]:
import pandas as pd
import numpy as np
import urllib
import bs4

#### Création d'un data frame 'af_ouest' de pays composant l'Afrique de l'Ouest (source Wikipedia):

In [192]:
# Création du data frame 'af_ouest' en utilisant un dictionaire

af_ouest = pd.DataFrame({'superficie':[114763,272967,4033,322463,11295,238533,245857,36125,111369,1241238,1025520,1267000,
                                             923768,196722,71740,56785],
                         'population':[9352000,17482000,505000,20595000,1825000,25546000,10481000, 1580000,4245000,16319000,
                                             3623000,16644000,166629000,13108000,6126000,6283000],    
                         'densite':[81,64,125,64,162,107,43,44,38,13,4,13,180,67,85,111],    
                         'capitale':['Porto-Novo','Ouagadougou','Praia','Yamoussoukro','Banjul','Accra','Conakry','Bissau',
                                            'Monrovia','Bamako','Nouakchott','Niamey','Abuja','Dakar','Freetown','Lomé']
                         }
                         ,
                         index = ['Bénin','Burkina Faso','Cap-Vert','Côte d\'Ivoire','Gambie','Ghana','Guinée','Guinée-Bissau',
                                 'Liberia','Mali','Mauritanie','Niger','Nigeria','Sénégal','Sierra Leone','Togo'] 
                        )

In [193]:
af_ouest

               superficie  population  densite      capitale
Bénin              114763     9352000       81    Porto-Novo
Burkina Faso       272967    17482000       64   Ouagadougou
Cap-Vert             4033      505000      125         Praia
Côte d'Ivoire      322463    20595000       64  Yamoussoukro
Gambie              11295     1825000      162        Banjul
Ghana              238533    25546000      107         Accra
Guinée             245857    10481000       43       Conakry
Guinée-Bissau       36125     1580000       44        Bissau
Liberia            111369     4245000       38      Monrovia
Mali              1241238    16319000       13        Bamako
Mauritanie        1025520     3623000        4    Nouakchott
Niger             1267000    16644000       13        Niamey
Nigeria            923768   166629000      180         Abuja
Sénégal            196722    13108000       67         Dakar
Sierra Leone        71740     6126000       85      Freetown
Togo                56785     6283000      111          Lomé

<p> Réordonnement des champs </p>

In [194]:
af_ouest = af_ouest[['superficie','population','densite','capitale']]

<p> Exemple de tri par champ / 
Field sorting example </p>

In [195]:
# par population / by population 
af_ouest.sort_values(by='population',ascending=False)

               superficie  population  densite      capitale
Nigeria            923768   166629000      180         Abuja
Ghana              238533    25546000      107         Accra
Côte d'Ivoire      322463    20595000       64  Yamoussoukro
Burkina Faso       272967    17482000       64   Ouagadougou
Niger             1267000    16644000       13        Niamey
Mali              1241238    16319000       13        Bamako
Sénégal            196722    13108000       67         Dakar
Guinée             245857    10481000       43       Conakry
Bénin              114763     9352000       81    Porto-Novo
Togo                56785     6283000      111          Lomé
Sierra Leone        71740     6126000       85      Freetown
Liberia            111369     4245000       38      Monrovia
Mauritanie        1025520     3623000        4    Nouakchott
Gambie              11295     1825000      162        Banjul
Guinée-Bissau       36125     1580000       44        Bissau
Cap-Vert             4033      505000      125         Praia

#### Sélection d'une seule colonne, qui donne une série, équivalent à df.nom_champ. /  Selecting a single column, which yields a Series, equivalent to df.field_name

In [196]:
af_ouest['superficie']

Bénin             114763
Burkina Faso      272967
Cap-Vert            4033
Côte d'Ivoire     322463
Gambie             11295
Ghana             238533
Guinée            245857
Guinée-Bissau      36125
Liberia           111369
Mali             1241238
Mauritanie       1025520
Niger            1267000
Nigeria           923768
Sénégal           196722
Sierra Leone       71740
Togo               56785
Name: superficie, dtype: int64

####  Selection par nom de ligne et de champs / Selection with row and field names

#### Sélection de plusieurs colonnes. / Selecting many columns.

In [197]:
af_ouest[['superficie','capitale']]

               superficie      capitale
Bénin              114763    Porto-Novo
Burkina Faso       272967   Ouagadougou
Cap-Vert             4033         Praia
Côte d'Ivoire      322463  Yamoussoukro
Gambie              11295        Banjul
Ghana              238533         Accra
Guinée             245857       Conakry
Guinée-Bissau       36125        Bissau
Liberia            111369      Monrovia
Mali              1241238        Bamako
Mauritanie        1025520    Nouakchott
Niger             1267000        Niamey
Nigeria            923768         Abuja
Sénégal            196722         Dakar
Sierra Leone        71740      Freetown
Togo                56785          Lomé

#### Selection de lignes via []. / Selecting via [], which slices the rows.

In [198]:
# Sélection des 3 premières lignes./Select 3 firt rows.
af_ouest[0:3]

              superficie  population  densite     capitale
Bénin             114763     9352000       81   Porto-Novo
Burkina Faso      272967    17482000       64  Ouagadougou
Cap-Vert            4033      505000      125        Praia

In [199]:
# Sélectionner de Ghana à Mali. /Select from  Ghana à Mali.
af_ouest['Ghana':'Mali']

               superficie  population  densite  capitale
Ghana              238533    25546000      107     Accra
Guinée             245857    10481000       43   Conakry
Guinée-Bissau       36125     1580000       44    Bissau
Liberia            111369     4245000       38  Monrovia
Mali              1241238    16319000       13    Bamako

In [200]:
# Sélection par label
af_ouest.loc[:,['superficie','densite']]

               superficie  densite
Bénin              114763       81
Burkina Faso       272967       64
Cap-Vert             4033      125
Côte d'Ivoire      322463       64
Gambie              11295      162
Ghana              238533      107
Guinée             245857       43
Guinée-Bissau       36125       44
Liberia            111369       38
Mali              1241238       13
Mauritanie        1025520        4
Niger             1267000       13
Nigeria            923768      180
Sénégal            196722       67
Sierra Leone        71740       85
Togo                56785      111

In [201]:
# Sélection par label
af_ouest.loc['Ghana':'Mali',['superficie','densite']]

               superficie  densite
Ghana              238533      107
Guinée             245857       43
Guinée-Bissau       36125       44
Liberia            111369       38
Mali              1241238       13

In [202]:
af_ouest.loc[['Ghana','Sénégal','Togo',],['densite','capitale']]

         densite capitale
Ghana        107    Accra
Sénégal       67    Dakar
Togo         111     Lomé

In [203]:
af_ouest.loc['Mauritanie',['superficie','densite']]

superficie    1025520
densite             4
Name: Mauritanie, dtype: object

####  Selection par position / Selection by position

#### Selection par la position des entiers. / Select via the position of the passed integers.

In [204]:
 af_ouest.iloc[3]

superficie          322463
population        20595000
densite                 64
capitale      Yamoussoukro
Name: Côte d'Ivoire, dtype: object

#### Par tranches entières, agissant de manière similaire à numpy et python By integer slices, acting similar to numpy and python

In [205]:
af_ouest.iloc[3:5,0:2]

               superficie  population
Côte d'Ivoire      322463    20595000
Gambie              11295     1825000

<p> Par liste de position d'entièrs, similaire au style numpy / python / By lists of integer position locations, similar to the numpy and python style </p>

In [206]:
af_ouest.iloc[[1,2,4],[0,2]]

              superficie  densite
Burkina Faso      272967       64
Cap-Vert            4033      125
Gambie             11295      162

<p> Pour trancher des lignes explicitement / For slicing rows explicitly </p>

In [207]:
af_ouest.iloc[1:3,:]

              superficie  population  densite     capitale
Burkina Faso      272967    17482000       64  Ouagadougou
Cap-Vert            4033      505000      125        Praia

<p> Pour trancher des colonnes explicitement / For slicing colmuns explicitly </p>

In [208]:
af_ouest.iloc[:,1:3]

               population  densite
Bénin             9352000       81
Burkina Faso     17482000       64
Cap-Vert           505000      125
Côte d'Ivoire    20595000       64
Gambie            1825000      162
Ghana            25546000      107
Guinée           10481000       43
Guinée-Bissau     1580000       44
Liberia           4245000       38
Mali             16319000       13
Mauritanie        3623000        4
Niger            16644000       13
Nigeria         166629000      180
Sénégal          13108000       67
Sierra Leone      6126000       85
Togo              6283000      111

<p> For getting a value explicitly </p>

In [209]:
af_ouest.iloc[1,1]

17482000

#### Indexation booléenne / Boolean Indexing

<p>  
Utilisation des valeurs d'une seule colonne pour sélectionner des données / Using a single column’s values to select data </p>

In [210]:
af_ouest[af_ouest.population <= 505000]

          superficie  population  densite capitale
Cap-Vert        4033      505000      125    Praia

In [211]:
af_ouest[(af_ouest.densite >= 67) | (af_ouest.population < 1000000)]

              superficie  population  densite    capitale
Bénin             114763     9352000       81  Porto-Novo
Cap-Vert            4033      505000      125       Praia
Gambie             11295     1825000      162      Banjul
Ghana             238533    25546000      107       Accra
Nigeria           923768   166629000      180       Abuja
Sénégal           196722    13108000       67       Dakar
Sierra Leone       71740     6126000       85    Freetown
Togo               56785     6283000      111        Lomé

In [212]:
af_ouest[(af_ouest.densite >= 50) & (af_ouest.population < 1000000)]

          superficie  population  densite capitale
Cap-Vert        4033      505000      125    Praia

<p> 
Utilisation de la méthode isin () pour le filtrage / Using the isin() method for filtering </p>

In [213]:
# Copie du data frame / Copy of the data frame
af_ouest2 = af_ouest.copy()

# Création du champ 'langue' / # Creation of the field 'langue'
af_ouest2['langue'] = ['Français', 'Français','Portugais','Français','Anglais','Anglais','Français','Portugais','Anglais',
                      'Français','Français','Français','Anglais','Français','Anglais','Français']
af_ouest2['langue']

Bénin             Français
Burkina Faso      Français
Cap-Vert         Portugais
Côte d'Ivoire     Français
Gambie             Anglais
Ghana              Anglais
Guinée            Français
Guinée-Bissau    Portugais
Liberia            Anglais
Mali              Français
Mauritanie        Français
Niger             Français
Nigeria            Anglais
Sénégal           Français
Sierra Leone       Anglais
Togo              Français
Name: langue, dtype: object

In [214]:
# Selection des pays lusophone et francophones /
# Selection of Lusophone and Francophone countries

af_ouest2[af_ouest2['langue'].isin(['Anglais','Français'])]

               superficie  population  densite      capitale    langue
Bénin              114763     9352000       81    Porto-Novo  Français
Burkina Faso       272967    17482000       64   Ouagadougou  Français
Côte d'Ivoire      322463    20595000       64  Yamoussoukro  Français
Gambie              11295     1825000      162        Banjul   Anglais
Ghana              238533    25546000      107         Accra   Anglais
Guinée             245857    10481000       43       Conakry  Français
Liberia            111369     4245000       38      Monrovia   Anglais
Mali              1241238    16319000       13        Bamako  Français
Mauritanie        1025520     3623000        4    Nouakchott  Français
Niger             1267000    16644000       13        Niamey  Français
Nigeria            923768   166629000      180         Abuja   Anglais
Sénégal            196722    13108000       67         Dakar  Français
Sierra Leone        71740     6126000       85      Freetown   Anglais
Togo                56785     6283000      111          Lomé  Français

#### Création d'un data frame 'af_nord' de pays composant l'Afrique du Nord (source Wikipedia):

In [215]:
af_nord = pd.read_csv('/home/cyrillekey/Projet_net/Pandas_Traitement_data_Africa/AfriqueduNord.csv', sep = ',')

In [216]:
cat '/home/cyrillekey/Projet_net/Pandas_Traitement_data_Africa/AfriqueduNord.csv'

pays ,Superficie,Population ,densite,capitale
  Algérie ,2381740,40606052,"17,05",Alger
  Égypte ,1001450,95688681,96,Le Caire
  Libye ,1759540,6293253,"3,58",Tripoli
  Maroc ,710850,35276786,"73,1",Rabat
  Tunisie ,163610,11403248,63,Tunis

In [217]:
af_nord.columns = ['pays','superficie','population','densite','capitale']

In [218]:
af_nord

         pays  superficie  population densite   capitale
0    Algérie      2381740    40606052   17,05     Alger
1     Égypte      1001450    95688681      96  Le Caire
2      Libye      1759540     6293253    3,58   Tripoli
3      Maroc       710850    35276786    73,1     Rabat
4    Tunisie       163610    11403248      63     Tunis

In [219]:
af_nord =af_nord.set_index('pays')

In [220]:
af_nord.index.name=None
af_nord

            superficie  population densite   capitale
  Algérie      2381740    40606052   17,05     Alger
  Égypte       1001450    95688681      96  Le Caire
  Libye        1759540     6293253    3,58   Tripoli
  Maroc         710850    35276786    73,1     Rabat
  Tunisie       163610    11403248      63     Tunis

In [221]:
list(af_nord.columns)

['superficie', 'population', 'densite', 'capitale']

In [222]:
af_nord.index.name=None
af_nord

            superficie  population densite   capitale
  Algérie      2381740    40606052   17,05     Alger
  Égypte       1001450    95688681      96  Le Caire
  Libye        1759540     6293253    3,58   Tripoli
  Maroc         710850    35276786    73,1     Rabat
  Tunisie       163610    11403248      63     Tunis

In [223]:
list(af_nord.columns)

['superficie', 'population', 'densite', 'capitale']

In [224]:
af_nord.columns = af_nord.columns.str.replace(" ","")

In [225]:
list(af_nord.columns)

['superficie', 'population', 'densite', 'capitale']

#### Création d'un data frame 'af_centrale' de pays composant l'Afrique centrale (source Wikipedia):

In [226]:
cat '/home/cyrillekey/Projet_net/Pandas_Traitement_data_Africa/AfriqueCentral.csv'

pays ,superficie,population,densité,capitale
  Angola ,1246700,29784000,"23,9",Luanda
  Cameroun ,475650,24054000,"50,9",Yaoundé
  Gabon ,267668,2025000,"7,9",Libreville
  Guinée équatoriale ,28052,1268000,"45,2",Malabo
  République centrafricaine ,622984,4659000,"7,5",Bangui
  République démocratique du Congo ,2344858,81340000,"35,9",Kinshasa
  République du Congo ,342000,5261000,"15,4",Brazzaville
  Sao Tomé-et-Principe ,964,204000,"212,8",São Tomé
  Tchad ,1284000,14900000,"11,8",N'Djaména

In [227]:
af_centrale = pd.read_csv('/home/cyrillekey/Projet_net/Pandas_Traitement_data_Africa/AfriqueCentral.csv', sep = ',')

In [228]:
af_centrale

,pays,superficie,population,densité,capitale
0,Angola,1246700,29784000,"23,9",Luanda
1,Cameroun,475650,24054000,"50,9",Yaoundé
2,Gabon,267668,2025000,"7,9",Libreville
3,Guinée équatoriale,28052,1268000,"45,2",Malabo
4,République centrafricaine,622984,4659000,"7,5",Bangui
5,République démocratique du Congo,2344858,81340000,"35,9",Kinshasa
6,République du Congo,342000,5261000,"15,4",Brazzaville
7,Sao Tomé-et-Principe,964,204000,"212,8",São Tomé
8,Tchad,1284000,14900000,"11,8",N'Djaména

In [229]:
af_centrale.columns = ['pays', 'superficie','population','densite','capitale']

In [230]:
af_centrale

,pays,superficie,population,densite,capitale
0,Angola,1246700,29784000,"23,9",Luanda
1,Cameroun,475650,24054000,"50,9",Yaoundé
2,Gabon,267668,2025000,"7,9",Libreville
3,Guinée équatoriale,28052,1268000,"45,2",Malabo
4,République centrafricaine,622984,4659000,"7,5",Bangui
5,République démocratique du Congo,2344858,81340000,"35,9",Kinshasa
6,République du Congo,342000,5261000,"15,4",Brazzaville
7,Sao Tomé-et-Principe,964,204000,"212,8",São Tomé
8,Tchad,1284000,14900000,"11,8",N'Djaména

In [231]:
af_centrale.at[0,'pays']= 'Angola'

In [232]:
af_centrale

,pays,superficie,population,densite,capitale
0,Angola,1246700,29784000,"23,9",Luanda
1,Cameroun,475650,24054000,"50,9",Yaoundé
2,Gabon,267668,2025000,"7,9",Libreville
3,Guinée équatoriale,28052,1268000,"45,2",Malabo
4,République centrafricaine,622984,4659000,"7,5",Bangui
5,République démocratique du Congo,2344858,81340000,"35,9",Kinshasa
6,République du Congo,342000,5261000,"15,4",Brazzaville
7,Sao Tomé-et-Principe,964,204000,"212,8",São Tomé
8,Tchad,1284000,14900000,"11,8",N'Djaména

In [233]:
af_centrale = af_centrale.set_index('pays')

In [234]:
af_centrale.index.name=None
af_centrale

,superficie,population,densite,capitale
Angola,1246700,29784000,"23,9",Luanda
Cameroun,475650,24054000,"50,9",Yaoundé
Gabon,267668,2025000,"7,9",Libreville
Guinée équatoriale,28052,1268000,"45,2",Malabo
République centrafricaine,622984,4659000,"7,5",Bangui
République démocratique du Congo,2344858,81340000,"35,9",Kinshasa
République du Congo,342000,5261000,"15,4",Brazzaville
Sao Tomé-et-Principe,964,204000,"212,8",São Tomé
Tchad,1284000,14900000,"11,8",N'Djaména

### Get all the region

In [235]:
pd.concat([af_ouest, af_nord, af_centrale])

,superficie,population,densite,capitale
Bénin,114763,9352000,81,Porto-Novo
Burkina Faso,272967,17482000,64,Ouagadougou
Cap-Vert,4033,505000,125,Praia
Côte d'Ivoire,322463,20595000,64,Yamoussoukro
Gambie,11295,1825000,162,Banjul
Ghana,238533,25546000,107,Accra
Guinée,245857,10481000,43,Conakry
Guinée-Bissau,36125,1580000,44,Bissau
Liberia,111369,4245000,38,Monrovia
Mali,1241238,16319000,13,Bamako
Mauritanie,1025520,3623000,4,Nouakchott
Niger,1267000,16644000,13,Niamey
Nigeria,923768,166629000,180,Abuja
Sénégal,196722,13108000,67,Dakar
Sierra Leone,71740,6126000,85,Freetown
Togo,56785,6283000,111,Lomé
Algérie,2381740,40606052,"17,05",Alger
Égypte,1001450,95688681,96,Le Caire
Libye,1759540,6293253,"3,58",Tripoli
Maroc,710850,35276786,"73,1",Rabat
Tunisie,163610,11403248,63,Tunis
Angola,1246700,29784000,"23,9",Luanda
Cameroun,475650,24054000,"50,9",Yaoundé
Gabon,267668,2025000,"7,9",Libreville
Guinée équatoriale,28052,1268000,"45,2",Malabo
République centrafricaine,622984,4659000,"7,5",Bangui
République démocratique du Congo,2344858,81340000,"35,9",Kinshasa
République du Congo,342000,5261000,"15,4",Brazzaville
Sao Tomé-et-Principe,964,204000,"212,8",São Tomé
Tchad,1284000,14900000,"11,8",N'Djaména

In [236]:
af_nord.columns.str.lower()
af_nord.columns = af_nord.columns.str.lower()

In [237]:
all_region = pd.concat([af_ouest, af_nord, af_centrale])

In [238]:
af_nord['region'] = ['Afrique du Nord']*len(af_nord)

In [239]:
af_nord

            superficie  population densite   capitale           region
  Algérie      2381740    40606052   17,05     Alger   Afrique du Nord
  Égypte       1001450    95688681      96  Le Caire   Afrique du Nord
  Libye        1759540     6293253    3,58   Tripoli   Afrique du Nord
  Maroc         710850    35276786    73,1     Rabat   Afrique du Nord
  Tunisie       163610    11403248      63     Tunis   Afrique du Nord

In [240]:
af_nord.dtypes

superficie     int64
population     int64
densite       object
capitale      object
region        object
dtype: object

In [241]:
af_ouest['region'] = ["Afrique de l\'Ouest"]*len(af_ouest)

In [242]:
af_ouest

,superficie,population,densite,capitale,region
Bénin,114763,9352000,81,Porto-Novo,Afrique de l'Ouest
Burkina Faso,272967,17482000,64,Ouagadougou,Afrique de l'Ouest
Cap-Vert,4033,505000,125,Praia,Afrique de l'Ouest
Côte d'Ivoire,322463,20595000,64,Yamoussoukro,Afrique de l'Ouest
Gambie,11295,1825000,162,Banjul,Afrique de l'Ouest
Ghana,238533,25546000,107,Accra,Afrique de l'Ouest
Guinée,245857,10481000,43,Conakry,Afrique de l'Ouest
Guinée-Bissau,36125,1580000,44,Bissau,Afrique de l'Ouest
Liberia,111369,4245000,38,Monrovia,Afrique de l'Ouest
Mali,1241238,16319000,13,Bamako,Afrique de l'Ouest
Mauritanie,1025520,3623000,4,Nouakchott,Afrique de l'Ouest
Niger,1267000,16644000,13,Niamey,Afrique de l'Ouest
Nigeria,923768,166629000,180,Abuja,Afrique de l'Ouest
Sénégal,196722,13108000,67,Dakar,Afrique de l'Ouest
Sierra Leone,71740,6126000,85,Freetown,Afrique de l'Ouest
Togo,56785,6283000,111,Lomé,Afrique de l'Ouest

In [243]:
af_centrale['region'] = ["Afrique centrale"]*len(af_centrale)

In [244]:
af_centrale

,superficie,population,densite,capitale,region
Angola,1246700,29784000,"23,9",Luanda,Afrique centrale
Cameroun,475650,24054000,"50,9",Yaoundé,Afrique centrale
Gabon,267668,2025000,"7,9",Libreville,Afrique centrale
Guinée équatoriale,28052,1268000,"45,2",Malabo,Afrique centrale
République centrafricaine,622984,4659000,"7,5",Bangui,Afrique centrale
République démocratique du Congo,2344858,81340000,"35,9",Kinshasa,Afrique centrale
République du Congo,342000,5261000,"15,4",Brazzaville,Afrique centrale
Sao Tomé-et-Principe,964,204000,"212,8",São Tomé,Afrique centrale
Tchad,1284000,14900000,"11,8",N'Djaména,Afrique centrale

In [245]:
all_region = pd.concat([af_ouest, af_nord, af_centrale])

In [246]:
all_region

,superficie,population,densite,capitale,region
Bénin,114763,9352000,81,Porto-Novo,Afrique de l'Ouest
Burkina Faso,272967,17482000,64,Ouagadougou,Afrique de l'Ouest
Cap-Vert,4033,505000,125,Praia,Afrique de l'Ouest
Côte d'Ivoire,322463,20595000,64,Yamoussoukro,Afrique de l'Ouest
Gambie,11295,1825000,162,Banjul,Afrique de l'Ouest
Ghana,238533,25546000,107,Accra,Afrique de l'Ouest
Guinée,245857,10481000,43,Conakry,Afrique de l'Ouest
Guinée-Bissau,36125,1580000,44,Bissau,Afrique de l'Ouest
Liberia,111369,4245000,38,Monrovia,Afrique de l'Ouest
Mali,1241238,16319000,13,Bamako,Afrique de l'Ouest
Mauritanie,1025520,3623000,4,Nouakchott,Afrique de l'Ouest
Niger,1267000,16644000,13,Niamey,Afrique de l'Ouest
Nigeria,923768,166629000,180,Abuja,Afrique de l'Ouest
Sénégal,196722,13108000,67,Dakar,Afrique de l'Ouest
Sierra Leone,71740,6126000,85,Freetown,Afrique de l'Ouest
Togo,56785,6283000,111,Lomé,Afrique de l'Ouest
Algérie,2381740,40606052,"17,05",Alger,Afrique du Nord
Égypte,1001450,95688681,96,Le Caire,Afrique du Nord
Libye,1759540,6293253,"3,58",Tripoli,Afrique du Nord
Maroc,710850,35276786,"73,1",Rabat,Afrique du Nord
Tunisie,163610,11403248,63,Tunis,Afrique du Nord
Angola,1246700,29784000,"23,9",Luanda,Afrique centrale
Cameroun,475650,24054000,"50,9",Yaoundé,Afrique centrale
Gabon,267668,2025000,"7,9",Libreville,Afrique centrale
Guinée équatoriale,28052,1268000,"45,2",Malabo,Afrique centrale
République centrafricaine,622984,4659000,"7,5",Bangui,Afrique centrale
République démocratique du Congo,2344858,81340000,"35,9",Kinshasa,Afrique centrale
République du Congo,342000,5261000,"15,4",Brazzaville,Afrique centrale
Sao Tomé-et-Principe,964,204000,"212,8",São Tomé,Afrique centrale
Tchad,1284000,14900000,"11,8",N'Djaména,Afrique centrale

In [247]:
# Calcul de la moyenne / Mean computation
moyenne  = af_ouest.mean()
moyenne

superficie    3.837611e+05
population    2.002144e+07
densite       7.506250e+01
dtype: float64

#### Apply

<p> Appliquer des fonctions aux données.   / Applying functions to the data. </p>

In [248]:
# Supprimer la notation scientifque / Suppress scintific notation
nombre = 3.837611e+05
'%.3f' % nombre

'383761.100'

In [249]:
moyenne.apply(lambda x: '%.3f' % x)

superficie      383761.125
population    20021437.500
densite             75.062
dtype: object

In [250]:
# Conserver les trois premiers caractères / Select the thee firstcharacters
caractere = 'Francais'
caractere[0:3]

'Fra'

In [251]:
af_ouest2['langue'].apply(lambda x: x[0:3])

Bénin            Fra
Burkina Faso     Fra
Cap-Vert         Por
Côte d'Ivoire    Fra
Gambie           Ang
Ghana            Ang
Guinée           Fra
Guinée-Bissau    Por
Liberia          Ang
Mali             Fra
Mauritanie       Fra
Niger            Fra
Nigeria          Ang
Sénégal          Fra
Sierra Leone     Ang
Togo             Fra
Name: langue, dtype: object

In [252]:
## Opération de centrage reduction / Performing Standard score operation
# Créer la fonction centRed / Create the function centRed
def centRed(u):
    return (u - u.mean())/u.std()

# Création d'un vecteur x / Creating x vector 
x = np.arange(10)
x

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [253]:
# Appliquer centRed à x / Applying centRed to x
x_centRed =  centRed(x)
print (x_centRed)

[-1.5666989  -1.21854359 -0.87038828 -0.52223297 -0.17407766  0.17407766
  0.52223297  0.87038828  1.21854359  1.5666989 ]

In [254]:
# Vérifions que x_centRed est de moyenne nulle et d'écart-type 1 
# Let's check that x_centRed has mean zero  and standard deviation 1
print (x_centRed.mean())
print (x_centRed.std())

-6.661338147750939e-17
1.0

#### Création d'un data frame 'af_Est' de pays composant l'Afrique de l'Est (source Wikipedia):

In [255]:
cat $path + 'AfriqueEst.csv'

cat: +: No such file or directory
Noms des États avec drapeau et noms officiels ,"Superficie1
(km²) 2015 ","Population1
estimation 2017 ","Densité1
(hab. par km²) est. 2017 ",Capitale
Érythrée (Dawlat Iritriya (ar) (fr)) ,121320,5869970,50,Asmara
Éthiopie (YeItyopya Federalawi Dimokrasiyawi Ripeblik (am) (fr)) ,1127127,105350020,88,Addis-Abeba
 Somalie (Jamhuuriyadda Federaalka Soomaaliya (so) (fr)) ,637657,1259029,18,Mogadiscio
Djibouti (République de Djibouti (fr)) ,25030,810179,21,Djibouti
Soudan du Sud (Republic of South Sudan (en) (fr)) ,619745,12530717,"20,2",Djouba
Kenya (Jamhuri ya Kenya (sw) (fr)) ,580367,41800000,"72,02",Nairobi
Ouganda (Jamhuri ya Uganda (sw) (fr)) ,241550,41487965,172,Kampala
Tanzanie (Jamhuri ya Muungano wa Tanzania (sw) (fr)) ,945087,57310019,52,Dodoma
Rwanda (Jamhuri ya Rwanda (sw) (fr)) ,26338,12187400,"462,7",Kigali
Burundi (Jamhuri ya burundi (sw) (fr)) ,27834,11099298,"398,7",Gitega
Seychelles (Repiblik Sesel (crs) (fr)) ,455,92430,"203,1",Victoria
Soudan du Nord(Republic of South Sudan (en) (fr)) ,1886068,32161000,"17,1", Khartoum

In [256]:
af_Est = pd.read_csv('/home/cyrillekey/Projet_net/Pandas_Traitement_data_Africa/AfriqueEst.csv', 
                          sep = ',',
                          decimal=",")

In [257]:
af_Est

,Noms des États avec drapeau et noms officiels,Superficie1\n(km²) 2015,Population1\nestimation 2017,Densité1\n(hab. par km²) est. 2017,Capitale
0,Érythrée (Dawlat Iritriya (ar) (fr)),121320,5869970,50.00,Asmara
1,Éthiopie (YeItyopya Federalawi Dimokrasiyawi R...,1127127,105350020,88.00,Addis-Abeba
2,Somalie (Jamhuuriyadda Federaalka Soomaaliya ...,637657,1259029,18.00,Mogadiscio
3,Djibouti (République de Djibouti (fr)),25030,810179,21.00,Djibouti
4,Soudan du Sud (Republic of South Sudan (en) (f...,619745,12530717,20.20,Djouba
5,Kenya (Jamhuri ya Kenya (sw) (fr)),580367,41800000,72.02,Nairobi
6,Ouganda (Jamhuri ya Uganda (sw) (fr)),241550,41487965,172.00,Kampala
7,Tanzanie (Jamhuri ya Muungano wa Tanzania (sw)...,945087,57310019,52.00,Dodoma
8,Rwanda (Jamhuri ya Rwanda (sw) (fr)),26338,12187400,462.70,Kigali
9,Burundi (Jamhuri ya burundi (sw) (fr)),27834,11099298,398.70,Gitega
10,Seychelles (Repiblik Sesel (crs) (fr)),455,92430,203.10,Victoria
11,Soudan du Nord(Republic of South Sudan (en) (f...,1886068,32161000,17.10,Khartoum

In [258]:
af_Est.columns = ['pays', 'superficie','population','densite','capitale']

In [259]:
af_Est

,pays,superficie,population,densite,capitale
0,Érythrée (Dawlat Iritriya (ar) (fr)),121320,5869970,50.00,Asmara
1,Éthiopie (YeItyopya Federalawi Dimokrasiyawi R...,1127127,105350020,88.00,Addis-Abeba
2,Somalie (Jamhuuriyadda Federaalka Soomaaliya ...,637657,1259029,18.00,Mogadiscio
3,Djibouti (République de Djibouti (fr)),25030,810179,21.00,Djibouti
4,Soudan du Sud (Republic of South Sudan (en) (f...,619745,12530717,20.20,Djouba
5,Kenya (Jamhuri ya Kenya (sw) (fr)),580367,41800000,72.02,Nairobi
6,Ouganda (Jamhuri ya Uganda (sw) (fr)),241550,41487965,172.00,Kampala
7,Tanzanie (Jamhuri ya Muungano wa Tanzania (sw)...,945087,57310019,52.00,Dodoma
8,Rwanda (Jamhuri ya Rwanda (sw) (fr)),26338,12187400,462.70,Kigali
9,Burundi (Jamhuri ya burundi (sw) (fr)),27834,11099298,398.70,Gitega
10,Seychelles (Repiblik Sesel (crs) (fr)),455,92430,203.10,Victoria
11,Soudan du Nord(Republic of South Sudan (en) (f...,1886068,32161000,17.10,Khartoum

### Fonction de nettoyage de pays

In [260]:
pays=af_Est.columns[0]
def NET(afrique, pays):
    list_Pays=list(afrique[pays])
    Pays_sans=[list_Pays[i].strip() for i in range(len(list_Pays))]
    Pays_Preopre=[Pays_sans[i].split()[0] for i in range(len(list_Pays))]
    return  Pays_Preopre

data=NET(af_Est, 'pays')
print(data)

['Érythrée', 'Éthiopie', 'Somalie', 'Djibouti', 'Soudan', 'Kenya', 'Ouganda', 'Tanzanie', 'Rwanda', 'Burundi', 'Seychelles', 'Soudan']

### Pays Nettoyés

In [261]:
for i in range(len(data)):
    af_Est.at[i,pays]= data[i]
    
af_Est.at[4,pays]= 'Soudan du sud'
af_Est.at[11,pays]= 'Soudan du Nord'
af_Est

              pays  superficie  population  densite      capitale
0         Érythrée      121320     5869970    50.00       Asmara
1         Éthiopie     1127127   105350020    88.00  Addis-Abeba
2          Somalie      637657     1259029    18.00   Mogadiscio
3         Djibouti       25030      810179    21.00     Djibouti
4    Soudan du sud      619745    12530717    20.20       Djouba
5            Kenya      580367    41800000    72.02      Nairobi
6          Ouganda      241550    41487965   172.00      Kampala
7         Tanzanie      945087    57310019    52.00       Dodoma
8           Rwanda       26338    12187400   462.70       Kigali
9          Burundi       27834    11099298   398.70       Gitega
10      Seychelles         455       92430   203.10     Victoria
11  Soudan du Nord     1886068    32161000    17.10      Khartoum

### type de variables(colonnes)

In [262]:
af_Est.dtypes

pays           object
superficie      int64
population      int64
densite       float64
capitale       object
dtype: object

In [263]:
#indexation du pays 
af_Est= af_Est.set_index('pays')
af_Est

                superficie  population  densite      capitale
pays
Érythrée            121320     5869970    50.00       Asmara
Éthiopie           1127127   105350020    88.00  Addis-Abeba
Somalie             637657     1259029    18.00   Mogadiscio
Djibouti             25030      810179    21.00     Djibouti
Soudan du sud       619745    12530717    20.20       Djouba
Kenya               580367    41800000    72.02      Nairobi
Ouganda             241550    41487965   172.00      Kampala
Tanzanie            945087    57310019    52.00       Dodoma
Rwanda               26338    12187400   462.70       Kigali
Burundi              27834    11099298   398.70       Gitega
Seychelles             455       92430   203.10     Victoria
Soudan du Nord     1886068    32161000    17.10      Khartoum

#### Création d'un data frame 'af_Autrale' de pays composant l'Afrique Australe(source Wikipedia):

In [264]:
cat $path + 'AfriqueAustrale.csv'

cat: +: No such file or directory
Noms des États avec drapeau et noms officiels ,"Superficie1
(km²) 2015 ","Population1
estimation 2017 ","Densité1
(hab. par km²) est. 2017 ",Capitale
Afrique du Sud (Republic of South Africa (en) (fr)) ,1219912,55653654,46,Pretoria
Botswana (Lefatshe la Botswana (tn) (fr)) ,581726,2209208,"3,8",Gaborone
Comores (Union des Comores (fr) (fr)) ,2612,813912,343,Moroni
Swaziland (Kingdom of Eswatini (en) (fr)) ,17363,1451428,"82,7",Lobamba
Lesotho (Kingdom of Lesotho (en) (fr)) ,30355,1924381,63,Maseru
Madagascar (Repoblikan'i Madagasikara (mg) (fr)) ,587041,24430325,"41,61",Antananarivo
Malawi (Republic of Malawi (en) (fr)) ,118844,18091575,152,Lilongwe
Maurice (Republic of Mauritius (en) (fr)) ,2040,1259838,630,Port-Louis
Mozambique (República de Moçambique (pt) (fr)) ,801590,25900000,32,Maputo
Namibie (Republic of Namibia (en) (fr)) ,825418,2484780,3,Windhoek
Zimbabwe (Republic of Zimbabwe (en) (fr)) ,390245,14030368,36,Harare
Zambie (Republic of Zambia (en) (fr)) ,752614,15066266,20,Lusaka
Total ,5329760,163315735,"30,6",—

In [265]:
af_Australe = pd.read_csv('/home/cyrillekey/Projet_net/Pandas_Traitement_data_Africa/AfriqueAustrale.csv', 
                          sep = ',',
                          decimal=",")

In [266]:
af_Australe

,Noms des États avec drapeau et noms officiels,Superficie1\n(km²) 2015,Population1\nestimation 2017,Densité1\n(hab. par km²) est. 2017,Capitale
0,Afrique du Sud (Republic of South Africa (en) ...,1219912,55653654,46.00,Pretoria
1,Botswana (Lefatshe la Botswana (tn) (fr)),581726,2209208,3.80,Gaborone
2,Comores (Union des Comores (fr) (fr)),2612,813912,343.00,Moroni
3,Swaziland (Kingdom of Eswatini (en) (fr)),17363,1451428,82.70,Lobamba
4,Lesotho (Kingdom of Lesotho (en) (fr)),30355,1924381,63.00,Maseru
5,Madagascar (Repoblikan'i Madagasikara (mg) (fr)),587041,24430325,41.61,Antananarivo
6,Malawi (Republic of Malawi (en) (fr)),118844,18091575,152.00,Lilongwe
7,Maurice (Republic of Mauritius (en) (fr)),2040,1259838,630.00,Port-Louis
8,Mozambique (República de Moçambique (pt) (fr)),801590,25900000,32.00,Maputo
9,Namibie (Republic of Namibia (en) (fr)),825418,2484780,3.00,Windhoek
10,Zimbabwe (Republic of Zimbabwe (en) (fr)),390245,14030368,36.00,Harare
11,Zambie (Republic of Zambia (en) (fr)),752614,15066266,20.00,Lusaka
12,Total,5329760,163315735,30.60,—

In [267]:
af_Australe.columns = ['pays', 'superficie','population','densite','capitale']

In [268]:
af_Australe

,pays,superficie,population,densite,capitale
0,Afrique du Sud (Republic of South Africa (en) ...,1219912,55653654,46.00,Pretoria
1,Botswana (Lefatshe la Botswana (tn) (fr)),581726,2209208,3.80,Gaborone
2,Comores (Union des Comores (fr) (fr)),2612,813912,343.00,Moroni
3,Swaziland (Kingdom of Eswatini (en) (fr)),17363,1451428,82.70,Lobamba
4,Lesotho (Kingdom of Lesotho (en) (fr)),30355,1924381,63.00,Maseru
5,Madagascar (Repoblikan'i Madagasikara (mg) (fr)),587041,24430325,41.61,Antananarivo
6,Malawi (Republic of Malawi (en) (fr)),118844,18091575,152.00,Lilongwe
7,Maurice (Republic of Mauritius (en) (fr)),2040,1259838,630.00,Port-Louis
8,Mozambique (República de Moçambique (pt) (fr)),801590,25900000,32.00,Maputo
9,Namibie (Republic of Namibia (en) (fr)),825418,2484780,3.00,Windhoek
10,Zimbabwe (Republic of Zimbabwe (en) (fr)),390245,14030368,36.00,Harare
11,Zambie (Republic of Zambia (en) (fr)),752614,15066266,20.00,Lusaka
12,Total,5329760,163315735,30.60,—

In [269]:
af_Australe=af_Australe.drop([12])
af_Australe

,pays,superficie,population,densite,capitale
0,Afrique du Sud (Republic of South Africa (en) ...,1219912,55653654,46.00,Pretoria
1,Botswana (Lefatshe la Botswana (tn) (fr)),581726,2209208,3.80,Gaborone
2,Comores (Union des Comores (fr) (fr)),2612,813912,343.00,Moroni
3,Swaziland (Kingdom of Eswatini (en) (fr)),17363,1451428,82.70,Lobamba
4,Lesotho (Kingdom of Lesotho (en) (fr)),30355,1924381,63.00,Maseru
5,Madagascar (Repoblikan'i Madagasikara (mg) (fr)),587041,24430325,41.61,Antananarivo
6,Malawi (Republic of Malawi (en) (fr)),118844,18091575,152.00,Lilongwe
7,Maurice (Republic of Mauritius (en) (fr)),2040,1259838,630.00,Port-Louis
8,Mozambique (República de Moçambique (pt) (fr)),801590,25900000,32.00,Maputo
9,Namibie (Republic of Namibia (en) (fr)),825418,2484780,3.00,Windhoek
10,Zimbabwe (Republic of Zimbabwe (en) (fr)),390245,14030368,36.00,Harare
11,Zambie (Republic of Zambia (en) (fr)),752614,15066266,20.00,Lusaka

In [270]:
pays=af_Australe.columns[0]
data=NET(af_Australe, 'pays')

for i in range(len(data)):
    af_Australe.at[i,pays]= data[i]
    
af_Australe.at[0,pays]= 'Afrique du Sud'
af_Australe.at[3,pays]= 'eSwatini'
af_Australe

              pays  superficie  population  densite       capitale
0   Afrique du Sud     1219912    55653654    46.00      Pretoria
1         Botswana      581726     2209208     3.80      Gaborone
2          Comores        2612      813912   343.00        Moroni
3         eSwatini       17363     1451428    82.70       Lobamba
4          Lesotho       30355     1924381    63.00        Maseru
5       Madagascar      587041    24430325    41.61  Antananarivo
6           Malawi      118844    18091575   152.00      Lilongwe
7          Maurice        2040     1259838   630.00    Port-Louis
8       Mozambique      801590    25900000    32.00        Maputo
9          Namibie      825418     2484780     3.00      Windhoek
10        Zimbabwe      390245    14030368    36.00        Harare
11          Zambie      752614    15066266    20.00        Lusaka

In [271]:
af_Australe.dtypes

pays           object
superficie      int64
population      int64
densite       float64
capitale       object
dtype: object

In [272]:
af_Australe= af_Australe.set_index('pays')
af_Australe

                superficie  population  densite       capitale
pays
Afrique du Sud     1219912    55653654    46.00      Pretoria
Botswana            581726     2209208     3.80      Gaborone
Comores               2612      813912   343.00        Moroni
eSwatini             17363     1451428    82.70       Lobamba
Lesotho              30355     1924381    63.00        Maseru
Madagascar          587041    24430325    41.61  Antananarivo
Malawi              118844    18091575   152.00      Lilongwe
Maurice               2040     1259838   630.00    Port-Louis
Mozambique          801590    25900000    32.00        Maputo
Namibie             825418     2484780     3.00      Windhoek
Zimbabwe            390245    14030368    36.00        Harare
Zambie              752614    15066266    20.00        Lusaka

### Toutes les regions d'Afrique

In [273]:
af_Est['region'] = ['Afrique de l⃖\'Est']*len(af_Est)
af_Australe['region'] = ['Afrique Australe']*len(af_Australe)

In [274]:
Africa=pd.concat([af_ouest, af_nord, af_centrale,af_Est,af_Australe])

## Indexation de la dataframe Africa

In [275]:
Africa.index.name="pays"
Africa = Africa.reset_index(level=['pays'],inplace=False)
Africa

,pays,superficie,population,densite,capitale,region
0,Bénin,114763,9352000,81,Porto-Novo,Afrique de l'Ouest
1,Burkina Faso,272967,17482000,64,Ouagadougou,Afrique de l'Ouest
2,Cap-Vert,4033,505000,125,Praia,Afrique de l'Ouest
3,Côte d'Ivoire,322463,20595000,64,Yamoussoukro,Afrique de l'Ouest
4,Gambie,11295,1825000,162,Banjul,Afrique de l'Ouest
5,Ghana,238533,25546000,107,Accra,Afrique de l'Ouest
6,Guinée,245857,10481000,43,Conakry,Afrique de l'Ouest
7,Guinée-Bissau,36125,1580000,44,Bissau,Afrique de l'Ouest
8,Liberia,111369,4245000,38,Monrovia,Afrique de l'Ouest
9,Mali,1241238,16319000,13,Bamako,Afrique de l'Ouest
10,Mauritanie,1025520,3623000,4,Nouakchott,Afrique de l'Ouest
11,Niger,1267000,16644000,13,Niamey,Afrique de l'Ouest
12,Nigeria,923768,166629000,180,Abuja,Afrique de l'Ouest
13,Sénégal,196722,13108000,67,Dakar,Afrique de l'Ouest
14,Sierra Leone,71740,6126000,85,Freetown,Afrique de l'Ouest
15,Togo,56785,6283000,111,Lomé,Afrique de l'Ouest
16,Algérie,2381740,40606052,"17,05",Alger,Afrique du Nord
17,Égypte,1001450,95688681,96,Le Caire,Afrique du Nord
18,Libye,1759540,6293253,"3,58",Tripoli,Afrique du Nord
19,Maroc,710850,35276786,"73,1",Rabat,Afrique du Nord
20,Tunisie,163610,11403248,63,Tunis,Afrique du Nord
21,Angola,1246700,29784000,"23,9",Luanda,Afrique centrale
22,Cameroun,475650,24054000,"50,9",Yaoundé,Afrique centrale
23,Gabon,267668,2025000,"7,9",Libreville,Afrique centrale
24,Guinée équatoriale,28052,1268000,"45,2",Malabo,Afrique centrale
25,République centrafricaine,622984,4659000,"7,5",Bangui,Afrique centrale
26,République démocratique du Congo,2344858,81340000,"35,9",Kinshasa,Afrique centrale
27,République du Congo,342000,5261000,"15,4",Brazzaville,Afrique centrale
28,Sao Tomé-et-Principe,964,204000,"212,8",São Tomé,Afrique centrale
29,Tchad,1284000,14900000,"11,8",N'Djaména,Afrique centrale
30,Érythrée,121320,5869970,50,Asmara,Afrique de l⃖'Est
31,Éthiopie,1127127,105350020,88,Addis-Abeba,Afrique de l⃖'Est
32,Somalie,637657,1259029,18,Mogadiscio,Afrique de l⃖'Est
33,Djibouti,25030,810179,21,Djibouti,Afrique de l⃖'Est
34,Soudan du sud,619745,12530717,20.2,Djouba,Afrique de l⃖'Est
35,Kenya,580367,41800000,72.02,Nairobi,Afrique de l⃖'Est
36,Ouganda,241550,41487965,172,Kampala,Afrique de l⃖'Est
37,Tanzanie,945087,57310019,52,Dodoma,Afrique de l⃖'Est
38,Rwanda,26338,12187400,462.7,Kigali,Afrique de l⃖'Est
39,Burundi,27834,11099298,398.7,Gitega,Afrique de l⃖'Est
40,Seychelles,455,92430,203.1,Victoria,Afrique de l⃖'Est
41,Soudan du Nord,1886068,32161000,17.1,Khartoum,Afrique de l⃖'Est
42,Afrique du Sud,1219912,55653654,46,Pretoria,Afrique Australe
43,Botswana,581726,2209208,3.8,Gaborone,Afrique Australe
44,Comores,2612,813912,343,Moroni,Afrique Australe
45,eSwatini,17363,1451428,82.7,Lobamba,Afrique Australe
46,Lesotho,30355,1924381,63,Maseru,Afrique Australe
47,Madagascar,587041,24430325,41.61,Antananarivo,Afrique Australe
48,Malawi,118844,18091575,152,Lilongwe,Afrique Australe
49,Maurice,2040,1259838,630,Port-Louis,Afrique Australe
50,Mozambique,801590,25900000,32,Maputo,Afrique Australe
51,Namibie,825418,2484780,3,Windhoek,Afrique Australe
52,Zimbabwe,390245,14030368,36,Harare,Afrique Australe
53,Zambie,752614,15066266,20,Lusaka,Afrique Australe

## Calcul de la moyenne Ecart type et coefficient de Variation

In [276]:
Key= Africa.groupby('region')
Solution=Key['population'].agg([np.mean,np.std])
aff = Africa[['population','pays','region']].groupby(['region']).std()/Africa[['population','region']].groupby(['region']).mean()
Solution['CV']=aff['population']
Solution=Solution.reset_index(level = ['region'],inplace = False)
Solution=Solution.astype({"mean":int,"std":int,"CV":float})
Solution.columns = ['region','Mean','Standard deviation','Coeficient of variation'] 
Solution

               region      Mean  Standard deviation  Coeficient of variation
0    Afrique Australe  13609644            16272044                 1.195626
1    Afrique centrale  18166111            25954174                 1.428714
2  Afrique de l'Ouest  20021437            39799970                 1.987868
3   Afrique de l⃖'Est  26829835            31207892                 1.163179
4     Afrique du Nord  37853604            35548520                 0.939105

# calcul de densité par Région

In [277]:
all_region_d=Africa[['population','region','superficie']].groupby(['region']).sum()

In [278]:
df=all_region_d.reset_index(level=['region'],inplace=False)

In [279]:
h=(df['population']/df['superficie']).apply(lambda x: '%.1f' % x)

In [280]:
df['Densité_Region'] = h
df

               region  population  superficie Densité_Region
0    Afrique Australe   163315735     5329760           30.6
1    Afrique centrale   163495000     6612876           24.7
2  Afrique de l'Ouest   320343000     6140178           52.2
3   Afrique de l⃖'Est   321958027     6238578           51.6
4     Afrique du Nord   189268020     6017190           31.5

## Conclusion 
> Par rapport à la densité par region d'afrique ,on peut conclure que la Region la plus dense de l'Afrique  
est l'Afrique de l'Est, suivi de l'Afrique de l'Ouest et la moins dense de l'Afrique est l'Afrique centrale